## Color combos
[theme]
primaryColor="#222dc7"
backgroundColor="#b5829b"
secondaryBackgroundColor="#7699c1"
textColor="#544b42"

[theme]
primaryColor="#ff0044"
backgroundColor="#96e287"
secondaryBackgroundColor="#b4a0c9"
textColor="#544b42"

In [1]:
import pandas as pd

attendance_logs = pd.read_csv("Database\\attendance_logs.csv")
regularization_requests = pd.read_csv("Database\\regularization_requests.csv")
users = pd.read_csv(r"Database\\users.csv")
# Fetch employee names and codes
# cursor.execute("SELECT DISTINCT employee_code, name FROM users ORDER BY name")
#employees = cursor.fetchall()

In [2]:
print(attendance_logs.head())
print(regularization_requests.head())
print(users.head())

  employee_code        date   in_time  out_time  working_hours
0         aa001  2025-03-12  12:41:59  16:44:52           4.05
1         aa001  2025-03-13  10:47:50  11:37:01           0.82
2         aa002  2025-03-10  09:00:00       NaN            NaN
3         aa002  2025-03-11  09:00:00       NaN            NaN
4         aa002  2025-03-12  05:00:00  16:48:24           4.36
   id employee_code        date     request_type requested_in_time  \
0   1         aa002  2025-03-12  Correct In-Time          05:00:00
1   2         aa004  2025-03-12  Correct In-Time          09:00:00
2   3         aa008  2025-03-12  Correct In-Time          09:00:00
3   4         aa003  2025-03-12  Correct In-Time          06:45:00
4   5         aa009  2025-03-12  Correct In-Time          08:00:00

   requested_out_time  reason    status  request_timestamp
0                 NaN  Test 1  Approved                NaN
1                 NaN      nn  Rejected                NaN
2                 NaN   a nna  Approved                NaN
3                 NaN     fsf  Approved                NaN
4                 NaN   nlljl       NaN                NaN
  employee_code password        name date_of_birth date_of_joining designation
0         AA001    pass1       Apple    10-05-1985      15-03-2020          HR
1         AA002   pass22      Banana    20-01-1990      10-04-2021     Trainer
2         AA003    pass3      Cherry    22-07-1988      01-08-2019   Counselor
3         AA004    pass4      Durian    05-09-1992      10-01-2022  Telecaller
4         AA005    pass5  Elderberry    11-11-1989      15-12-2018     Trainer

In [3]:
from datetime import datetime
import calendar
today = datetime.now().date()

In [4]:
today

datetime.date(2025, 3, 19)

In [6]:
datetime.now().time()

datetime.time(0, 57, 47, 260341)